.content {
    h1,
    h2,
    h3 {
        color: $text-color;
        font-weight: 500;
        line-height: 1.25;
    }

    h2 {
        margin: 27px 0 13px;
        font-size: 24px;
    }

    h2:first-child {
        margin-top: 0;
    }

    p {
        margin: 0 0 17px;
    }

    ul,
    ol {
        margin: 0 0 23px;
        padding-left: 20px;
    }

    li {
        margin: 5px 0;
        padding-left: 1px;
    }

}

@media (max-width: 520px) {
    .content {
        h2 {
            margin-top: 24px;
            font-size: 22px;
        }
    }
}
